<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"   content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/png" href="../../static/pictures/bicycle_icon_256x256.png" />

    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/body-template.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/product_choices.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/login.css" type="text/css"/>
    <title>Keep Rolling, Rolling, Rolling</title>

</head>
<body>

<header class="header" th:fragment="header">
    <button type="button" class="header-logo" onclick="location.href='../../index.html'"></button>
    <div class="nav-bar">
        <button type="button" class="shopping-cart" onclick="location.href='shopping-cart.html'"></button>
        <button type="button" class="login-button" onclick="document.getElementById('id01').style.display='block'">
        </button>
    </div>
</header>
<div class="header-bar"></div>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">

        <div class="container">
            <label class="text1" for="uname"><b>Username</b></label>
            <input type="text" class="placeholder1" placeholder="Enter Username" name="uname" required id="uname">


            <label class="text1" for="psw"><b>Password</b></label>
            <input type="password" class="placeholder1" placeholder="Enter Password" name="psw" required id="psw">

            <label class="remember1">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="button-container1">

            <button class="cancel-button" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
            <button class="login-button2" type="submit">Login</button>
        </div>
        <div class="container1">
            <span class="psw">Forgot <a href="#">password?</a></span>
            <span class="create-user"> <a href="create-user.html">Create user</a> </span>
        </div>
    </form>
</div>

<div class="text-box">
    <div class="text-field">Anything extra?</div>
</div>

<div class="choices">

    <div class="choice-paint">
        <div class="nm-container">
            <div class="nm-cont">
                <img class="paint-box" src="../../static/pictures/products/paints/bright_red.jpg" alt="helmet for rental">
            <div>
                <div class="nm-text" id="nm-text1">
                    <h2>Spray can</h2>
                    Use our non-permanent colors to paint a sketch of your own style across the bike
                    <br>
                </div>
                <label for="nm-color"></label><input type="color" id="nm-color" value="#ff2d2d">
            </div>
                <label class="nm-checkbox">
                    <input class="nm-checkbox1" type="checkbox"/>
                </label>
            </div>
        </div>    </div>

    <div class="choice-textile-bag">
        <div class="nm-container">
            <div class="nm-cont">
                <img class="textile-bag" src="../../static/pictures/products/bags/tote_bag_logo.jpg" alt="helmet for rental">

                <div class="nm-text">
                    <h2>Eco-cotton</h2>
                    o Fair trade
                    <br>
                    o Impress your friends
                    <br>
                    o Buy today and get sunglasses for free
                    <br>
                    o Pick up when renting a bike

                </div>

                <label class="nm-checkbox">
                    <input class="nm-checkbox1" type="checkbox"/>
                </label>
            </div>
        </div>
    </div>

    <div class="button-containers">
        <button type="button" class="next-buttons" onclick="location.href='shopping-cart.html'">
            <span>Next</span>
        </button>
    </div>

</div>

<div class="footer-container">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h2>About Us</h2>
            <a href="#">Blog</a>
            <a href="#">Demo</a>
            <a href="#">Customers</a>
            <a href="#">Investors</a>
            <a href="#">Terms Of Service</a>
        </div>
        <div class="footer-heading footer-2">
            <h2>Contact Us</h2>
            <a href="#">Jobs</a>
            <a href="#">Support</a>
            <a href="#">Contact</a>
            <a href="#">Sponsorship</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>Social Media</h2>
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
            <a href="#">Youtube</a>
            <a href="#">Twitter</a>
        </div>
        <div class="footer-email-form">
            <h2>Join our newsletter</h2>
            <label for="footer-email"></label><input type="email" placeholder="Enter your email address" id="footer-email">
            <button type="submit" value="Sign Up" id="footer-email-btn">Sign Up</button>
        </div>
    </div>
</div>

</body>
</html>