<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"   content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/png" href="../../static/pictures/bicycle_icon_256x256.png" />
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/body-template.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/shopping-cart.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/login.css" type="text/css"/>
    <title>Keep Rolling, Rolling, Rolling</title>

</head>
<body>

<header class="header" th:fragment="header">
    <button type="button" class="header-logo" onclick="location.href='../../index.html'"></button>
    <div class="nav-bar">
        <button type="button" class="shopping-cart" onclick="location.href='shopping-cart.html'"></button>
        <button type="button" class="login-button" onclick="document.getElementById('id01').style.display='block'">
        </button>
    </div>
</header>
<div class="header-bar"></div>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">


        <div class="container">
            <label class="text1" for="uname"><b>Username</b></label>
            <input type="text" class="placeholder1" placeholder="Enter Username" name="uname" required id="uname">


            <label class="text1" for="psw"><b>Password</b></label>
            <input type="password" class="placeholder1" placeholder="Enter Password" name="psw" required id="psw">

            <label class="remember1">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="button-container1">

            <button class="cancel-button" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
            <button class="login-button2" type="submit">Login</button>
        </div>
        <div class="container1">
            <span class="psw">Forgot <a href="#">password?</a></span>
            <span class="create-user"> <a href="create-user.html">Create user</a> </span>        </div>

    </form>
</div>

    <h1 class="my-cart">My Cart</h1>

    <div class="my-bar"></div>

<div class="cart-container">
    <div class="cart-wrapper">
        <div class="items-container">
            <div class="items-bar"></div>
            <div class="item" id="item1">
                <div class="items-over">
                    <div class="item-img">
                        <img src="../../static/pictures/bicycle/electric_bike.jpg" alt="electric bike"/>
                    </div>
                    <div class="item-values">
                        <h3 class="item-h">Bike</h3>
                        <p>Type: Electric</p>
                        <p>Color: Yellow</p>
                    </div>
                    <div class="unit-price">
                        <h3 class="item-h">Product price</h3>
                        <p>150 NOK/pr hour</p>
                    </div>
                    <div class="quantity">
                        <h3 class="item-h">Quantity</h3>
                        <label for="number"></label><input class="quantity-input" type="number" value="1" id="number" required>
                    </div>
                    <div class="total-price">
                        <h3 class="item-h">Total</h3>
                        <p>Payment when rental is done</p>
                    </div>
                </div>
                <div class="items-under">
                </div>
            </div>

            <div class="item" id="item2">
                <div class="items-over">
                    <div class="item-img">
                        <img src="../../static/pictures/bicycle/green_bike.png" alt="electric bike"/>
                    </div>
                    <div class="item-values">
                        <h3>Bike</h3>
                        <p>Type: electric</p>
                        <p>Color: Yellow</p>
                    </div>
                    <div class="unit-price">
                        <h3>Product price</h3>
                        <p>150 NOK/pr hour</p>
                    </div>
                    <div class="quantity">
                        <h3>Quantity</h3>
                        <label for="number2"></label><input class="quantity-input" type="number" value="1" id="number2" required>
                    </div>
                    <div class="total-price">
                        <h3>Total</h3>
                        <p>Payment when rental is done</p>
                    </div>
                </div>
                <div class="items-under">
                </div>
            </div>

            <div class="item" id="item3">
                <div class="items-over">
                    <div class="item-img">
                        <img src="../../static/pictures/products/bags/tote_bag_logo.jpg" alt="tote bag"/>
                    </div>
                    <div class="item-values">
                        <h3>KRRR Bag</h3>
                        <p>Type: with logo</p>
                        <p>Color: beige</p>
                    </div>
                    <div class="unit-price">
                        <h3>Product price</h3>
                        <p>250 NOK</p>
                    </div>
                    <div class="quantity">
                        <h3>Quantity</h3>
                        <label for="number3"></label><input class="quantity-input" type="number" value="1" id="number3" required>
                    </div>
                    <div class="total-price">
                        <h3>Total</h3>
                        <p>250 NOK</p>
                    </div>
                </div>
                <div class="items-under">
                </div>
            </div>
        </div>

        <div class="checkout-container">
            <div class="total-container">
                <div class="promo-wrapper">
                    <p class="promo">Enter promo code</p>
                    <label for="promo-field"></label><input type="text" placeholder="Promo Code" id="promo-field">
                    <button type="submit" value="Submit" id="promo-field-button">Submit</button>
                </div>
                <div class="total-wrapper">
                    <div class="delivery-cost">
                        <p class="cost">Delivery cost:</p>
                        <p class="values">0 NOK</p>
                    </div>
                    <div class="discount">
                        <p class="cost">Discount:</p>
                        <p class="values">-0 NOK</p>
                    </div>
                    <div class="discount">
                        <p class="cost">Bikes x 2</p>
                        <p class="values">300 NOK/pr hour</p>
                    </div>
                    <div class="total">
                        <p class="total-text">TOTAL:</p>
                        <p class="total-text">250 NOK</p>
                    </div>
                    <button class="checkout-button" type="submit" value="Checkout" id="checkout-button">Checkout</button>
                </div>
            </div>
            <span class="information">No withdrawal will be done until after the rental
                is done. Your card will be saved in our system until the rental is over.</span>
        </div>
    </div>
</div>


<footer class="main-footer" th:fragment="footer">
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Blog</a>
                <a href="#">Demo</a>
                <a href="#">Customers</a>
                <a href="#">Investors</a>
                <a href="#">Terms Of Service</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contact Us</h2>
                <a href="#">Jobs</a>
                <a href="#">Support</a>
                <a href="#">Contact</a>
                <a href="#">Sponsorship</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <label for="footer-email"></label><input type="email" placeholder="Enter your email address" id="footer-email">
                <button type="submit" value="Sign Up" id="footer-email-btn">Sign Up</button>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
