/* The Modal (background) */

* {
    margin: 0;
    padding: 0;
    --transition: 0.15s;
    --border-radius: 0.5rem;
    --background: #00ff00;
    --box-shadow: #00ff00;
    --text: #009800;
    --text-backround: #ececec;
}

.text1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 10rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: 30%; /* Could be more or less, depending on screen size */
    height: 400px;

}

.login-button2{
    background-color: var(--box-shadow);
    height: 50px;
    width: 110px;
    border-radius: var(--border-radius);
    font-size: large;
    color: #ffffff;
    border: none;
    box-shadow: 0 0.125rem 0.25rem #a6a6a6;
}

.cancel-button{
    background-color: grey;
    height: 50px;
    width: 110px;
    border-radius: var(--border-radius);
    font-size: large;
    color: #ffffff;
    border:none;
    box-shadow: 0 0.125rem 0.25rem #a6a6a6;
}

.placeholder{
    height: 50px;
    margin: auto;
    width: 70%;
    border: 2px solid var(--box-shadow);
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: 0 0.125rem 0.25rem #a6a6a6;
}

.container{
    display: grid;
    align-content: center;
    padding-top: 2rem;
}



.container1{
    margin: auto;
    display: block;

}

.remember1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: .8rem;
}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 1.5rem auto 1rem;
}

.psw{
    display: block;
    margin: auto;
    text-align: center;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 50px;
    top: 10px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}