@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.hero-img{
    top: 20px;
    margin: auto;
    height: 50vw;


    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../pictures/pexels_nubia/pexels_nubia_stretch_5184x2536.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    size: auto;
    position: relative;
    display: block;

}

.hero-button-background {
    background-color: rgba(0, 0, 0, 0.69);
    left: 55%;
    top: 50%;
    width: 35vw;
    height: 10vw;
    position: relative;

    border-radius: 15px;
}

.hero-button {
    align-items: center;
    background-image: linear-gradient(144deg,#19900d, #3be538 50%,#00DDEB);
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 2.5vw;
    font-weight: inherit;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 1vw;
    padding: 1rem 6rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    width: 31vw;
    height: 6vw;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 550px){

}

@media only screen and (max-width: 550px){
    .hero-button-background{
        width: 0;
        height: 0;
    }
}

@media only screen and (max-width: 400px){
    .hero button{
        height: 7vw;
        width: 20vw;
    }
}

.hero-button:active,
.hero-button:hover {
    outline: 0;
}

.hero-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.hero-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.hero-button:hover span{
    padding-right: 25px;
}
.hero-button:hover span:after{
    opacity: 1;
    right: 0;
}

.smaller-body{
    padding: 0;
    margin: auto;
    height: 100%;
}

@media only screen and (max-width: 500px){
    .login-button{
        background-size: 20px;
    }
    .login-text{
        font-size: .5rem;
        margin-left: 20px;
        top: 50px;
    }
    .l
}

.mid-container{
    max-width: 1200px;
    margin: auto;
}

.slogan{
    background-color: white;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 2em;
}

.slogan-text{
    color: #2c2c2c;
    text-align: center;
    scale: initial;
    font-weight: bold;
    font-size: 3em;
}

@media (max-width: 1200px) {
    .slogan-text {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    .slogan-text {
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    .slogan-text {
        font-size: .6em;
    }
}

.text-section{
    margin-left: auto;
    margin-right: auto;
    color: #2c2c2c;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: bolder;
    font-size: 1em;
    margin-bottom: 6rem;
}

.text-field{
    text-align: center;
    height: 7rem;
    background: #c5c5c5;
    border-radius: 20px;
}

.text-body1{
    width: 25rem;
    margin: 1.5vw;
}


.p-view{
    width: 25rem;
    border-radius: 20px;
}

@media only screen and (max-width: 1300px){
    .text-body1{
        width: 20rem;
    }
    .p-view{
        width: 20rem;
    }
}


@media only screen and (max-width: 1180px){
    .text-body1{
        width: 17rem;
    }
    .p-view{
        width: 17rem;
    }
}

@media only screen and (max-width: 900px){
    .text-section{
        flex-wrap: wrap;
    }
    .text-body1{
        width: 18rem;
    }
    .p-view{
        width: 18rem;
    }
}

@media only screen and (max-width: 800px){
    .text-section{
        flex-wrap: wrap;
    }

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.testimonials-wrapper{

}

.testimonials-container {
    border: 2px solid #00ff00;
    background-color: #00ff00;
    border-radius: 100px;
    padding: 20px;
    margin: 15px auto;
    width: 60vw;
}

.testimonials-container p{
    font-size: 1em;
}

.p1 {
    border: 2px solid #2cdc2c;
    background-color: #2cdc2c;
}

.p2{
    border: 2px solid #3aa93a;
    background-color: #3aa93a;
}

.testimonials-container::after {
    content: "";
    clear: both;
    display: table;
}

.testimonials-container img {
    float: left;
    margin-right: 2vw;
    border-radius: 50%;
    width: 7vw;
}

.testimonials-container span {
    font-size: 2em;
    margin-right: 15px;

}

@media (max-width: 1200px) {
    .testimonials-container {
        text-align: center;

    }


    .testimonials-container img {
        margin: auto;
        float: none;
        display: block;
        width: 2vw;
    }
}

