@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    --transition: 0.15s;
    --border-radius: 0.5rem;
    --background: #00ff00;
    --box-shadow: #00ff00;
    --text: #009800;
    --text-backround: #ececec;
    --normal-text: #2c2c2c;
    --grey-text: #484848;
    --font-family: Phantomsans
    , sans-serif;
}

.my-cart{
    font-family: var(--font-family);
    padding-top: 2rem;
    text-align: center;
    color: var(--text);
    font-size: 2.5rem;
}

.my-bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 2px;
    background-color: var(--grey-text);
    position: relative;
    margin-top: .3rem;
}

.cart-container{

}

.cart-wrapper{
    height: 100rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.items-container{
    margin-top: 5rem;
}

.item{
    margin: 1rem;
    padding: 1rem;

    height: 10rem;
    width: 60rem;

    box-shadow: 0 0.125rem 0.25rem #a6a6a6;
    border-radius: var(--border-radius);
}

.items-over{
    height: 10rem;
    width: 60rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.item-img{
    display: block;
    max-height: 10rem;
    width: 16.1rem;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.item-img img{
    display: block;
    height: 100%;
    margin: auto;
    border-radius: var(--border-radius);
}

.item-values{
    width: 6.2rem;
}

.unit-price{
    width: 7.4rem;
}

.quantity{
    width: 7.4rem;

}

.total-price{
    width: 7.4rem;

}

.item-h{
    margin-bottom: .5rem;
}

.items-under{

}

.checkout-container{
    width: 23rem;
    margin-right: 4rem;
    margin-top: 5rem;
}

.total-container{

    padding: 1rem;
    border-radius: var(--border-radius);
    height: 22rem;
    width: 22rem;
    display: flow;
    align-content: center;
    justify-content: right;

    box-shadow: 0 0.125rem 0.25rem #a6a6a6;
}

.information{
    color: #a6a6a6;
    text-align: center;
}

.promo{
    color: var(--grey-text);
}

#promo-field{
    width: 12rem;
    height: 2rem;
    border-radius: 4px;

}

#promo-field::placeholder {
    color: #b1b1b1;
}

#promo-field-button{
    width: 6rem;
    height: 2.3rem;
    border-radius: 4px;
    background-color: #19900d;
    color: #fff;
    font-size: 1.2em;
    border: none;
}

.total-wrapper{
    margin-top: 3rem;
}

.delivery-cost{
    margin-top: .5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.discount{
    margin-top: .5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.total{
    margin-top: .9rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.checkout-button{
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    background-color: #19900d;
    color: #fff;
    font-size: 1.9em;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.total-text{
    color: var(--normal-text);
    font-size: 1.6rem;
    font-weight: bolder;
}

.values{
    color: var(--normal-text);
    font-size: 1rem;
    font-weight: bold;
}

.cost{
    color: var(--grey-text);
    font-size: 1rem;
}