@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html{

    height: 100%;
    background-size: cover;
    background-blend-mode: darken;

}

.header-bar{
    width: 100%;
    height: 2px;
    background-color: #151515;
    position: relative;
    margin-top: -2px;
}

.hero-part{}

.hero-img{
    top: 20px;
    margin: auto;
    height: 50vw;


    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../pictures/pexels_nubia/pexels_nubia_stretch_5184x2536.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    size: auto;
    position: relative;
    display: block;

}

.hero-button-background {
    background-color: rgba(0, 0, 0, 0.69);
    left: 55%;
    top: 50%;
    width: 30vw;
    height: 7vw;
    position: relative;

    border-radius: 15px;
}


.hero-button {
    align-items: center;
    background-image: linear-gradient(144deg,#19900d, #3be538 50%,#00DDEB);
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 2vw;
    font-weight: inherit;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 7vw;
    padding: 1rem 6rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px){
    .hero-button{
        font-size: 2.5vw;
    }
}

.hero-button:active,
.hero-button:hover {
    outline: 0;
}



.hero-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.hero-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.hero-button:hover span{
    padding-right: 25px;
}
.hero-button:hover span:after{
    opacity: 1;
    right: 0;
}

body {
    background-color: #ffffff;    font-family: 'Open Sans', sans-serif;
    padding: 0;
    max-width: 3600px;
    margin: auto;
    height: 100%;
}

.smaller-body{
    padding: 0;
    margin: auto;
    height: 100%;


}

.header{
    max-width: 1200px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.header-logo{
    background: transparent url("../pictures/keeprollingrollingrolling_logo_200x200.jpg") no-repeat center center;
    cursor: pointer;
    border: 1px solid transparent;
    height: 84px;
    width: 120px;
    color: #000000;
    background-size: cover;
    box-shadow: transparent;
    margin-left: 30px;

}

.search-container{
    position: center;
    margin-right: 30px;
}

.login-button{
    cursor: pointer;
    border: 1px solid transparent;
    height: 50px;
    width: 90px;
    background: transparent url("../pictures/log_in_icon_128822.png") no-repeat center center;
    background-size: 35px;
    box-shadow: transparent;
    position: center;
    margin-bottom: 0;

}

.login-text{
    font-size: .8em;
    margin-left: 7px;
    font-weight: bold;
    position: absolute;
    top: 60px;
}

.mid-container{
    max-width: 1200px;
    margin: auto;
}

.slogan{
    background-color: white;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 2em;

}

.slogan-text{
    color: #2c2c2c;
    text-align: center;
    scale: initial;
    font-weight: bold;
    font-size: 2vw;
}

.text-section{
    margin-left: auto;
    margin-right: auto;
    color: #2c2c2c;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    font-weight: bolder;
}

.text-body1{
    width: 25vw;
    margin: 1.5vw;
}

.text-field{
}

#p-view{
    width: 25vw;
    border-radius: 20px;
}
#p-view2{
    width: 25vw;
    border-radius: 20px;
}
#p-view3{
    width: 25vw;
    border-radius: 20px;
}

@media only screen and (max-width: 1180px){
    .text-body1{
        height: 30vw;
    }
}

@media only screen and (max-width: 900px){
    .text-body1{
        height: 35vw;
    }
}

@media only screen and (max-width: 800px){
    .text-hide{
        display: none;
    }
    .text-body1{
        height: 15vw;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.testimonials-wrapper{

}

.testimonials-container {
    border: 2px solid #00ff00;
    background-color: #00ff00;
    border-radius: 100px;
    padding: 20px;
    margin: 15px 0;
}

.p1 {
    border: 2px solid #2cdc2c;
    background-color: #2cdc2c;
}

.p2{
    border: 2px solid #3aa93a;
    background-color: #3aa93a;
}

.testimonials-container::after {
    content: "";
    clear: both;
    display: table;
}

.testimonials-container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.testimonials-container span {
    font-size: 2vw;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .testimonials-container {
        text-align: center;
    }


    .testimonials-container img {
        margin: auto;
        float: none;
        display: block;
    }
}



    .footer-container {
        display: block;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(44, 44, 44);
        color: white;
        text-align: center;
    }

    .footer {
        height: 40vh;
        background-color: rgb(44, 44, 44);
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .footer-heading {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
    }

    .footer-heading h2 {
        margin-bottom: 2rem;
    }

    .footer-heading a {
        color: white;
        text-decoration: none;
        margin-bottom: 0.5rem;
    }

    .footer-heading a:hover {
        color: #19900d;
        transition: 0.3s ease-out;
    }

    .footer-email-form h2 {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #footer-email {
        width: 250px;
        height: 40px;
        border-radius: 4px;
        outline: none;
        border: none;
        padding-left: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #footer-email::placeholder {
        color: #b1b1b1;
    }

    #footer-email-btn {
        width: 100px;
        height: 40px;
        border-radius: 4px;
        background-color: #19900d;
        color: #fff;
        font-size: 1rem;
        border: none;
    }

    #footer-email-btn:hover {
        cursor: pointer;
        background-color: white;
        color: #19900d;
        transition: all 0.4s ease-out;
    }

    @media screen and (max-width: 1150px) {
        .footer {
            height: 50vh;
        }

        .footer-email-form {
            margin-top: 4rem;
        }
    }

    @media screen and (max-width: 820px) {
        .footer {
            height: 2rem;
        }
    }

    @media screen and (max-width: 720px) {
        .footer-3 {
            display: none;
        }

        .footer-email-form {
            margin-top: 4rem;
        }

    }

    @media screen and (max-width: 500px) {
        .footer-3 {
            display: none;
        }

        .footer-email-form {
            margin-top: 4rem;
        }

    }

    @media screen and (max-height: 800px) {
        .footer-container{

        }
    }

