:root{
    --spacing: 0px;
}

.selectionText{
    text-align: center;
    font-size: 2.5em;
    margin-bottom:50px;
    margin-top: 60px;
}

.buttonContainer{
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 19vw 19vw;
    justify-content: center;
    height: 54vw;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;

}

.bicycle-button-Yellow {
    cursor: pointer;

    width: 30vw;

    border: 2px solid #e3e008;
    border-radius: 8px;

}

.yellow{
    cursor: pointer;
    width: 10vw;
    height: 2vw;
    background-color: #e3e008;
    border-radius: 50em;
    text-align: center;
    font-size: 1.5vw;
    color: #FFF;
    display: block;
    border: none;



    -ms-transform: translate(200%, 200%);
    transform: translate(100%, -70%);
}

.yellow-bicycle:hover img{
    box-shadow: 0 0 10px 1px #e3e008;
}
.yellow-bicycle:hover    .yellow{
    box-shadow: 0 0 10px 1px #e3e008;
}

.bicycle-button-Brown{
    cursor: pointer;
    background-size: cover;

    width: 30vw;

    border: 2px solid #5e4c00;
    border-radius: 8px;

}

.brown{
    cursor: pointer;
    width: 10vw;
    height: 2vw;
    background-color: #5e4c00;
    border-radius: 50em;
    text-align: center;
    font-size: 1.5vw;
    color: #FFF;
    display: block;
    border: none;



    -ms-transform: translate(200%, 200%);
    transform: translate(100%, -70%);
}

.brown-bicycle:hover img{
    box-shadow: 0 0 10px 1px #5e4c00;
}
.brown-bicycle:hover    .brown{
    box-shadow: 0 0 10px 1px #5e4c00;
}

.bicycle-button-Green{
    cursor: pointer;
    background-size: cover;

    width: 30vw;


    border: 2px solid #19900d;
    border-radius: 8px;

}

.green{
    cursor: pointer;
    width: 10vw;
    height: 2vw;
    background-color: #19900d;
    border-radius: 50em;
    text-align: center;
    font-size: 1.5vw;
    color: #FFF;
    display: block;
    border: none;



    -ms-transform: translate(200%, 200%);
    transform: translate(100%, -70%);
}

.green-bicycle:hover img{
    box-shadow: 0 0 10px 1px #5e4c00;
}
.green-bicycle:hover    .green{
    box-shadow: 0 0 10px 1px #5e4c00;
}

.bicycle-button-AnyColor {
    cursor: pointer;
    background-size: cover;

    width: 30vw;


    border: 2px solid #727272;
    border-radius: 8px;

}

.anycolor{
    cursor: pointer;
    width: 10vw;
    height: 2vw;
    background-color: #727272;
    border-radius: 50em;
    text-align: center;
    font-size: 1.5vw;
    color: #FFF;
    display: block;
    border: none;


    -ms-transform: translate(200%, 200%);
    transform: translate(100%, -70%);
}

.anycolor-bicycle:hover img{
    box-shadow: 0 0 10px 1px #727272;
}
.anycolor-bicycle:hover    .anycolor{
    box-shadow: 0 0 10px 1px #727272;
}