@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html{

    height: 100%;
    background-size: cover;
    background-blend-mode: darken;

}

.header-bar{
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: relative;
    margin-top: -2px;
}

heropart{}

.hero-img{
    top: 20px;
    margin: auto;
    height: 38vw;
    max-width: 2000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../pictures/pexels-nubia/pexels-nubia-stretch.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    size: auto;
    position: relative;
    display: block;
}

.hero-button-background {
    background-color: rgba(0, 0, 0, 0.69);
    left: 60%;
    top: 50%;
    width: 27vw;
    height: 7vw;
    position: relative;
    
    border-radius: 10px;


}

.hero-button{
    cursor: pointer;
    border: 2px solid #2c2c2c;
    color: #2c2c2c;
    box-shadow: blanchedalmond;
    background: #2AF392;

    font-weight: bold;
    font-size: 1.6vw;
    vertical-align: center;
    horiz-align: center;
    border-radius: 10px;

    width: 25vw;
    height: 3vw;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 3.5%;
}

body {
    background-color: #ffffff;    font-family: 'Open Sans', sans-serif;
    padding: 0;
    max-width: 3600px;
    margin: auto;
    height: 100%;
}

smallerBody{
    max-width: 1200px;
    padding: 0;
    margin: auto;
    height: 100%;


}

.header{
    max-width: 1200px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.header-logo{
    background: transparent url("../pictures/LogoSample_ByTailorBrands.jpg") no-repeat center center;
    cursor: pointer;
    border: 1px solid transparent;
    height: 84px;
    width: 120px;
    color: #000000;
    background-size: cover;
    box-shadow: transparent;
    margin-left: 30px;

}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.search-button{
    cursor: pointer;
    border: 1px solid transparent;
    height: 35px;
    width: 35px;
    color: #000000;
    background: transparent url("../pictures/search-2906.png") no-repeat center center;
    background-size: 35px;
    box-shadow: transparent;
    margin-right: 20px;

}

.header-buttons{
    margin-right: 20px;
    display: flex;
}


.slogan{
    background-color: white;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 2em;

}

.slogan-text{
    color: #2c2c2c;
    text-align: center;
    scale: initial;
    font-weight: bold;
    font-size: 2vw;
}

.text-section{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: #2c2c2c;;
}
.footer{

}

.selectionText{
    text-align: center;
    font-size: 1.5em;
    margin-bottom:50px;
    margin-top: 60px;

}

.buttonContainer{
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 13vw 13vw;
    justify-content: space-evenly;
    height: 30vw;
    align-content: space-evenly;


}

.bicycle-button-Yellow {
    cursor: pointer;
    background:  transparent url("../pictures/Bicycle/yellow.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;

}

.bicycle-button-Brown{
    cursor: pointer;
    background:  transparent url("../pictures/Bicycle/brown.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;

}

.bicycle-button-Green{
    cursor: pointer;
    background:  transparent url("../pictures/Bicycle/green.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;


}

.bicycle-button-AnyBike{
    cursor: pointer;
    background:  transparent url("../pictures/Bicycle/any.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;

}