@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #63ff5e;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

}


.header-text{
    float: left;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    scale: initial;
    font-weight: bold;
    color: #000000;
    font-size: 3vw;
    padding-top: 1%;
    padding-left: 2%;
}


.search-button{
    cursor: pointer;
    height: 4vw;
    width: 4vw;

    background: transparent url("../pictures/search-2906.png") no-repeat center center;
    background-size: 3vw;
    border: black;

    margin-left: 47%;
    margin-top: 1.5%;
}














.hero-section {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin-top: 7%;

}

.hero {
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background-image: url('../pictures/pexels-nubia/test.jpg');
    background-repeat: no-repeat;
    background-size: contain;

}


.hero-button{
    position: center;
    cursor: pointer;
    height: 4vw;
    width: 12vw;

    background-color: #63ff5e;
    background-size: 3vw;
    border: none;

    margin-left: 80%;
    margin-bottom: 0;

    font-weight: bold;

}

.hero-button:hover{
    background-color: white;
}


.slogan{
    background-color: white;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 100px;
    top: 53.5vw;
}

.slogan-text{
    padding-left: 30%;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    scale: initial;
    font-weight: bold;
    color: #000000;
    font-size: 2vw;

}

.text-section{
    position: relative;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    top: 60vw;
}
.footer{

}