.selectionText{
    text-align: center;
    font-size: 1.5em;
    margin-bottom:50px;
    margin-top: 60px;
}

.buttonContainer{
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 13vw 13vw;
    justify-content: space-evenly;
    height: 30vw;
    align-content: space-evenly;


}

.bicycle-button-Yellow {
    cursor: pointer;
    background:  transparent url("../pictures/Bicycle/yellow.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;

}

.bicycle-button-Brown{
    cursor: pointer;
    background:  transparent url("../pictures/Bicycle/brown.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;

}

.bicycle-button-Green{
    cursor: pointer;
    background:  transparent url("../pictures/Bicycle/green.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;


}

.bicycle-button-AnyBike {
    cursor: pointer;
    background: transparent url("../pictures/Bicycle/any.png") no-repeat center center;
    background-size: cover;

    width: 20vw;
    height: 13vw;

    border: none;
    color: white;
}