<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/png" href="../static/pictures/bicycle_icon_256x256.png"/>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/body-template.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/login.css" type="text/css"/>

    <title>Keep Rolling, Rolling, Rolling</title>
</head>
<body>


<header class="header" th:fragment="header">
    <button type="button" class="header-logo" onclick="location.href='index.html'"></button>
    <div class="nav-bar">
        <button type="button" class="shopping-cart" onclick="location.href=''"></button>
        <button type="button" class="login-button" onclick="document.getElementById('id01').style.display='block'">
        </button>
    </div>
</header>
<div class="header-bar"></div>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">


        <div class="container">
            <label class="text1" for="uname"><b>Username</b></label>
            <input type="text" class="placeholder" placeholder="Enter Username" name="uname" required id="uname">


            <label class="text1" for="psw"><b>Password</b></label>
            <input type="password" class="placeholder" placeholder="Enter Password" name="psw" required id="psw">

            <label class="remember1">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="button-container">

            <button class="cancel-button" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
            <button class="login-button2" type="submit">Login</button>
        </div>
        <div class="container1">
            <span class="psw">Forgot <a href="#">password?</a></span>
            <span class="create-user"></span>
        </div>

    </form>
</div>

<div class="hero-part">
    <div class="hero-img">
        <div class="hero-button-background">
            <button type="button" class="hero-button" onclick="location.href='HTML/manual-or-electric.html'"><span class="hero-text">Choose your companion</span>
            </button>
        </div>
    </div>
</div>


<div class="smaller-body">

    <div class="mid-container">

    <div class="slogan">
        <div class="slogan-text">
            "Life is too short to not kick on pedals"
        </div>
    </div>

    <div class="text-section">
        <div class="text-body1">
            <img class="p-view" src="../static/pictures/hero_images/sunny_road_biker_daytime_1280x719.jpg" alt="p">
            <div class="text-field text-hide"><p>Our service makes it fast and easy to rent a bike in seconds and leave it at any place convenient to
                you. We clean up after you - our service-guys pick up all the bikes within 2 hours.</p>
            </div>
        </div>
        <div class="text-body1">
            <img class="p-view" src="../static/pictures/hero_images/fjellstua_view_daytime_1280x719.jpg" alt="p">
            <div class="text-field text-hide"><p>We have 120 bikes available in Ålesund. New bikes upgraded every month according to latest trends. 20
                brand new electric bikes waiting for you!</p>
            </div>
        </div>
        <div class="text-body1">
            <img class="p-view" src="../static/pictures/hero_images/mountainbike_snow_mountain_1280x719.jpg" alt="p">
            <div class="text-field text-hide">
                <p>We are true to the BYOWT concept: Bring Your Own Winter Tires! Nothing brings a warm home feeling better
                than BYOWT!</p>
            </div>

        </div>
    </div>


<div class="testimonials-wrapper" >

    <div class="testimonials-container">
        <img src="../static/pictures/persons/serioussam.jpg" alt="Avatar">
        <p><span>Serious Sam</span></p>
        <p>"I don't understand the hype around personalization.
            <br>
            &nbsp;I just rent a bike, pay for it with Vipps and 15min later I enjoy the company of my cactus in my cubicle.
            &nbsp;Keep it simple, folks."</p>
    </div>


    <div class="testimonials-container p1">
        <img src="../static/pictures/persons/lohnjennon.jpg" alt="Avatar">
        <p><span>Lohn Jennon</span></p>
        <p>"You can just hit the pedals and be free. Imagine there's no heaven!
            <br>
            &nbsp;What can be better than that?"</p>
    </div>

    <div class="testimonials-container p2">
        <img src="../static/pictures/persons/lisabeatle.jpg" alt="Avatar">
        <p><span>Lisa Beatle</span></p>
        <p>"I like the option to personalize the bike with non-permanent colors.
            <br>
            &nbsp;KRRR is just the thing I need to be both effective and modern."
        </p>
    </div>
</div>
</div>

    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer">
                <div class="footer-heading footer-1">
                    <h2>About Us</h2>
                    <a href="#">Blog</a>
                    <a href="#">Demo</a>
                    <a href="#">Customers</a>
                    <a href="#">Investors</a>
                    <a href="#">Terms Of Service</a>
                </div>
                <div class="footer-heading footer-2">
                    <h2>Contact Us</h2>
                    <a href="#">Jobs</a>
                    <a href="#">Support</a>
                    <a href="#">Contact</a>
                    <a href="#">Sponsorship</a>
                </div>
                <div class="footer-heading footer-3">
                    <h2>Social Media</h2>
                    <a href="#">Instagram</a>
                    <a href="#">Facebook</a>
                    <a href="#">Youtube</a>
                    <a href="#">Twitter</a>
                </div>
                <div class="footer-email-form">
                    <h2>Join our newsletter</h2>
                    <label for="footer-email"></label><input type="email" placeholder="Enter your email address" id="footer-email">
                    <button type="submit" value="Sign Up" id="footer-email-btn">Sign Up</button>
                </div>
            </div>
        </div>
    </footer>

</div>
</body>
</html>